@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Learn about history</h1>
    <p>This interactive web application will allow you to learn about many historical topics.</p>
</div>
