
@{
    ViewData["Title"] = "Timeline";
}

<h1>Timeline</h1>

<div class="container">
    <div class="row">
        <p class="col-sm">0</p>
        <p class="col-sm">100</p>
        <p class="col-sm">200</p>
        <p class="col-sm">300</p>
        <p class="col-sm">400</p>
        <p class="col-sm">500</p>
        <p class="col-sm">600</p>
        <p class="col-sm">700</p>
        <p class="col-sm">800</p>
    </div>
</div>